<!DOCTYPE html>
<html>
<head>
  <title>Tech, Media & Startup Events - New York, NY | GarysGuide</title>

  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />
  <link rel="icon" type="image/png" href="http://s3.amazonaws.com/garysguide_images/favicon.ico">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.garysguide.com/javascripts/jquery-ui-v1.min.js"></script>
  <script type="text/javascript" src="/javascripts/rails.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.touchslider.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.masonry.js"></script>



  <script type="text/javascript">
  function display_alert()  
  { alert("You need to be logged in to continue"); }
  </script>


  <script type="text/javascript">
  $(window).scroll(function(e){
    $el = $('.fixedElement');
    if ($(this).scrollTop() > 200 && $el.css('position') != 'fixed'){
      $('.fixedElement').css({'position': 'fixed', 'top': '0px'});
    }
    if ($(this).scrollTop() < 200 && $el.css('position') == 'fixed') { $('.fixedElement').css({'position': 'static', 'top': '0px'}); }
  });
  </script>

  <script type="text/javascript">
  $(document).ready(function() {
                $('.fmenu > li').bind('mouseover', openSubMenu);
                $('.fmenu > li').bind('mouseout', closeSubMenu);
                function openSubMenu() { $(this).find('ul').css('visibility', 'visible'); };
                function closeSubMenu() { $(this).find('ul').css('visibility', 'hidden'); };
  });
  $(document).ready(function() {
                $('.fmenu1 > li').bind('mouseover', openSubMenu);
                $('.fmenu1 > li').bind('mouseout', closeSubMenu);
                function openSubMenu() { $(this).find('ul').css('visibility', 'visible'); };
                function closeSubMenu() { $(this).find('ul').css('visibility', 'hidden'); };
  });
  </script>

  <meta content="authenticity_token" name="csrf-param" />
<meta content="tjSGQfMOVc1TWfca287+O2PYLJTJYlTdOn4bZdIds7w=" name="csrf-token" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

function HomeControl(controlDiv, map) {

  // Set CSS styles for the DIV containing the control
  // Setting padding to 5 px will offset the control
  // from the edge of the map
  controlDiv.style.padding = '5px';

  // Set CSS for the control border
  var controlUI = document.createElement('DIV');
  controlUI.style.backgroundColor = 'white';
  controlUI.style.borderStyle = 'solid';
  controlUI.style.borderWidth = '1px';
  controlUI.style.borderColor = '#BBBBBB';
  controlUI.style.cursor = 'pointer';
  controlUI.style.textAlign = 'left';
  controlUI.title = 'Click to set the map to Home';
  controlDiv.appendChild(controlUI);

  // Set CSS for the control interior
  var controlText = document.createElement('DIV');
  controlText.style.fontFamily = 'Arial,sans-serif';
  controlText.style.fontSize = '14px';
  controlText.style.paddingLeft = '7px';
  controlText.style.paddingRight = '7px';
  controlText.style.paddingTop = '7px';
  controlText.style.paddingBottom = '7px';
  controlText.innerHTML = '';
  controlUI.appendChild(controlText);

  // Setup the click event listeners: simply set the map to Chicago
  // google.maps.event.addDomListener(controlUI, 'click', function() {
    // map.setCenter(chicago)
  // });
}

  function initialize() {



    var myLatLng0 = new google.maps.LatLng(40.7230567932129,-74.003173828125);

    var myOptions = {
      zoom: 14,
      center: myLatLng0,
      // disableDefaultUI: true,
      mapTypeControl: false,
      // scaleControl: true,
      navigationControlOptions: {
        style: google.maps.NavigationControlStyle.SMALL,
      },
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas1"), myOptions);
    var bounds = new google.maps.LatLngBounds();


    // var contentString0 = '<div id="content">'+'<b>Startup Lunch</b></div>';
    // var infowindow = new google.maps.InfoWindow({ content: contentString0 });
    var infowindow = "";

    var marker0 = new google.maps.Marker({
      position: myLatLng0, 
      map: map, 
      title:"Startup Lunch"
      // icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=1|000000|FFFFFF'
    });  
    google.maps.event.addListener(marker0, 'click', function() {
      if (infowindow) infowindow.close();
       var contentString = '<div id="content">'+'<b><a href="http://gary.to/o8z3ci6">Startup Lunch</a></b></div>';
      infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 300 });
      infowindow.open(map,marker0);
    });

    bounds.extend(myLatLng0);
    map.fitBounds(bounds);


    var myLatLng1 = new google.maps.LatLng(40.7143516540527,-74.005973815918);



    // var contentString1 = '<div id="content">'+'<b>NYTECH ECommerce Law Update Recent Legal Developments That Could Be GameChangers</b></div>';
    // var infowindow = new google.maps.InfoWindow({ content: contentString1 });
    var infowindow = "";

    var marker1 = new google.maps.Marker({
      position: myLatLng1, 
      map: map, 
      title:"NYTECH ECommerce Law Update Recent Legal Developments That Could Be GameChangers"
      // icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=2|000000|FFFFFF'
    });  
    google.maps.event.addListener(marker1, 'click', function() {
      if (infowindow) infowindow.close();
       var contentString = '<div id="content">'+'<b><a href="http://gary.to/92tu9my">NYTECH ECommerce Law Update Recent Legal Developments That Could Be GameChangers</a></b></div>';
      infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 300 });
      infowindow.open(map,marker1);
    });

    bounds.extend(myLatLng1);
    map.fitBounds(bounds);


    var myLatLng2 = new google.maps.LatLng(40.7413597106934,-73.9899520874023);



    // var contentString2 = '<div id="content">'+'<b>Post Production After Effects</b></div>';
    // var infowindow = new google.maps.InfoWindow({ content: contentString2 });
    var infowindow = "";

    var marker2 = new google.maps.Marker({
      position: myLatLng2, 
      map: map, 
      title:"Post Production After Effects"
      // icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=3|000000|FFFFFF'
    });  
    google.maps.event.addListener(marker2, 'click', function() {
      if (infowindow) infowindow.close();
       var contentString = '<div id="content">'+'<b><a href="http://gary.to/p0lz36x">Post Production After Effects</a></b></div>';
      infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 300 });
      infowindow.open(map,marker2);
    });

    bounds.extend(myLatLng2);
    map.fitBounds(bounds);


    var myLatLng3 = new google.maps.LatLng(40.7107963562012,-74.0095291137695);



    // var contentString3 = '<div id="content">'+'<b>NYTECH Sound Design in UX</b></div>';
    // var infowindow = new google.maps.InfoWindow({ content: contentString3 });
    var infowindow = "";

    var marker3 = new google.maps.Marker({
      position: myLatLng3, 
      map: map, 
      title:"NYTECH Sound Design in UX"
      // icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=4|000000|FFFFFF'
    });  
    google.maps.event.addListener(marker3, 'click', function() {
      if (infowindow) infowindow.close();
       var contentString = '<div id="content">'+'<b><a href="http://gary.to/py473op">NYTECH Sound Design in UX</a></b></div>';
      infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 300 });
      infowindow.open(map,marker3);
    });

    bounds.extend(myLatLng3);
    map.fitBounds(bounds);


    var myLatLng4 = new google.maps.LatLng(40.7413597106934,-73.9899520874023);



    // var contentString4 = '<div id="content">'+'<b>DIY Build an iOS App in 3 hours</b></div>';
    // var infowindow = new google.maps.InfoWindow({ content: contentString4 });
    var infowindow = "";

    var marker4 = new google.maps.Marker({
      position: myLatLng4, 
      map: map, 
      title:"DIY Build an iOS App in 3 hours"
      // icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=5|000000|FFFFFF'
    });  
    google.maps.event.addListener(marker4, 'click', function() {
      if (infowindow) infowindow.close();
       var contentString = '<div id="content">'+'<b><a href="http://gary.to/ybmhwex">DIY Build an iOS App in 3 hours</a></b></div>';
      infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 300 });
      infowindow.open(map,marker4);
    });

    bounds.extend(myLatLng4);
    map.fitBounds(bounds);


    var myLatLng5 = new google.maps.LatLng(40.7143516540527,-74.005973815918);



    // var contentString5 = '<div id="content">'+'<b>NYTECH Dont Give Away The Store Valuation for EarlyRound Financing</b></div>';
    // var infowindow = new google.maps.InfoWindow({ content: contentString5 });
    var infowindow = "";

    var marker5 = new google.maps.Marker({
      position: myLatLng5, 
      map: map, 
      title:"NYTECH Dont Give Away The Store Valuation for EarlyRound Financing"
      // icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=6|000000|FFFFFF'
    });  
    google.maps.event.addListener(marker5, 'click', function() {
      if (infowindow) infowindow.close();
       var contentString = '<div id="content">'+'<b><a href="http://gary.to/l0o45ot">NYTECH Dont Give Away The Store Valuation for EarlyRound Financing</a></b></div>';
      infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 300 });
      infowindow.open(map,marker5);
    });

    bounds.extend(myLatLng5);
    map.fitBounds(bounds);


    var myLatLng6 = new google.maps.LatLng(40.7413597106934,-73.9899520874023);



    // var contentString6 = '<div id="content">'+'<b>Mobile Development on iOS  Amazon Cloud</b></div>';
    // var infowindow = new google.maps.InfoWindow({ content: contentString6 });
    var infowindow = "";

    var marker6 = new google.maps.Marker({
      position: myLatLng6, 
      map: map, 
      title:"Mobile Development on iOS  Amazon Cloud"
      // icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=7|000000|FFFFFF'
    });  
    google.maps.event.addListener(marker6, 'click', function() {
      if (infowindow) infowindow.close();
       var contentString = '<div id="content">'+'<b><a href="http://gary.to/2xbnrl7">Mobile Development on iOS  Amazon Cloud</a></b></div>';
      infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 300 });
      infowindow.open(map,marker6);
    });

    bounds.extend(myLatLng6);
    map.fitBounds(bounds);


    var myLatLng7 = new google.maps.LatLng(40.7413597106934,-73.9899520874023);



    // var contentString7 = '<div id="content">'+'<b>48 Hour Flatiron Hackathon</b></div>';
    // var infowindow = new google.maps.InfoWindow({ content: contentString7 });
    var infowindow = "";

    var marker7 = new google.maps.Marker({
      position: myLatLng7, 
      map: map, 
      title:"48 Hour Flatiron Hackathon"
      // icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=8|000000|FFFFFF'
    });  
    google.maps.event.addListener(marker7, 'click', function() {
      if (infowindow) infowindow.close();
       var contentString = '<div id="content">'+'<b><a href="http://gary.to/y7nzmiu">48 Hour Flatiron Hackathon</a></b></div>';
      infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 300 });
      infowindow.open(map,marker7);
    });

    bounds.extend(myLatLng7);
    map.fitBounds(bounds);


    var myLatLng8 = new google.maps.LatLng(40.7419853210449,-73.9910049438477);



    // var contentString8 = '<div id="content">'+'<b>Xconomy Forum The Hardtech Revolution  Makers Markets  Mobile</b></div>';
    // var infowindow = new google.maps.InfoWindow({ content: contentString8 });
    var infowindow = "";

    var marker8 = new google.maps.Marker({
      position: myLatLng8, 
      map: map, 
      title:"Xconomy Forum The Hardtech Revolution  Makers Markets  Mobile"
      // icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=9|000000|FFFFFF'
    });  
    google.maps.event.addListener(marker8, 'click', function() {
      if (infowindow) infowindow.close();
       var contentString = '<div id="content">'+'<b><a href="http://gary.to/cuq8wif">Xconomy Forum The Hardtech Revolution  Makers Markets  Mobile</a></b></div>';
      infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 300 });
      infowindow.open(map,marker8);
    });

    bounds.extend(myLatLng8);
    map.fitBounds(bounds);


    var myLatLng9 = new google.maps.LatLng(40.7673645019531,-73.98291015625);



    // var contentString9 = '<div id="content">'+'<b>NYTECH Holiday Tech Bash 2013</b></div>';
    // var infowindow = new google.maps.InfoWindow({ content: contentString9 });
    var infowindow = "";

    var marker9 = new google.maps.Marker({
      position: myLatLng9, 
      map: map, 
      title:"NYTECH Holiday Tech Bash 2013"
      // icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=10|000000|FFFFFF'
    });  
    google.maps.event.addListener(marker9, 'click', function() {
      if (infowindow) infowindow.close();
       var contentString = '<div id="content">'+'<b><a href="http://gary.to/62nx4a0">NYTECH Holiday Tech Bash 2013</a></b></div>';
      infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 300 });
      infowindow.open(map,marker9);
    });

    bounds.extend(myLatLng9);
    map.fitBounds(bounds);


    // var homeControlDiv = document.createElement('DIV');
    // var homeControl = new HomeControl(homeControlDiv, map);
    // homeControlDiv.index = 1;
    // map.controls[google.maps.ControlPosition.TOP_LEFT].push(homeControlDiv);

  }

</script>




  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27758760-1']);
  _gaq.push(['_setDomainName', 'garysguide.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  $('.fmenu > li').bind('mouseover', openSubMenu);
  $('.fmenu > li').bind('mouseout', closeSubMenu);
  $('.fmenu1 > li').bind('mouseover', openSubMenu);
  $('.fmenu1 > li').bind('mouseout', closeSubMenu);

  function openSubMenu() {
   $(this).find('ul').css('visibility', 'visible');
  };
  
  function closeSubMenu() {
   $(this).find('ul').css('visibility', 'hidden');
  };

</script>

<script type="text/javascript">
$(document).ready(function() {
    $("#dialog_select_city").dialog({ autoOpen: false,title: 'Select City',height: 210,width: 450,modal: true, draggable: false,resizable: false, close: function(event, ui) { $('#wrap').show(); }, open: function(event, ui) { $('.ui-widget-overlay').bind('click', function(){ $("#dialog_select_city").dialog('close'); }); } });
    $('#dialog_select_city_opener').click(function() { $('#dialog_select_city').show(); $('#dialog_select_city').dialog('open'); }); 
    $("#dialog_login").dialog({ autoOpen: false,title: 'Sign Up / Sign In', height: 300, width: 450, modal: true, draggable: false, resizable: false, close: function(event, ui) { $('#wrap').show(); }, open: function(event, ui) { $('.ui-widget-overlay').bind('click', function(){ $("#dialog_login").dialog('close'); }); }  });
    $('#dialog_login_opener').click(function() { $('#dialog_login').show(); $('#dialog_login').dialog('open'); });
    $("#dialog_send_email").dialog({ autoOpen: false,title: 'Send Email', height: 300, width: 450, modal: true, draggable: false, resizable: false, close: function(event, ui) { $('#wrap').show(); }, open: function(event, ui) { $('.ui-widget-overlay').bind('click', function(){ $("#dialog_send_email").dialog('close'); }); }  });
    $("#dialog_send_email_opener").click(function() { $('#dialog_send_email').show(); $('#dialog_send_email').dialog('open'); });
});
</script>

</head>


<body style="background-color:#f5f5f5; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; padding-left:0px; padding-right:0px;" onload="initialize();" onunload="GUnload();">

<div align="center" class="freg">


<div align="center" class="navbar" style="width:100%; height:50px; opacity:0.99; -moz-box-shadow: 1px 0px 10px rgba(0,0,0,0.3); -khtml-box-shadow: 1px 0px 10px rgba(0,0,0,0.3); -webkit-box-shadow: 1px 0px 10px rgba(0,0,0,0.3);">

<div style="width:964px;">

<div style="float:left; position:relative; padding-top:0px; width:215px;" align="left" valign="middle">
<font class="flogowhite"><a href="/"><img onmouseover="this.src='http://s3.amazonaws.com/garysguide_images/garysguide_logo_hover.png'" onmouseout="this.src='http://s3.amazonaws.com/garysguide_images/garysguide_logo.png'" src="http://s3.amazonaws.com/garysguide_images/garysguide_logo.png" /></a></font>
</div>

<div style="float:left; width:300px;" class="flogobar">
<div style="padding-top:15px; padding-bottom:15px; padding-right:3px; padding-left:3px;"><font style="color:#eee; font-size:18px;">The #1 Resource For NYC Tech</font></div>
</div>

<div style="float:right; position:relative; top:0px; height:60px">
<div style="float:left; padding-top:7px;"><p></p></div>
<div style="float:left;">&nbsp;&nbsp;&nbsp;</div>
<div style="float:right;" class="flogobar">
<ul class="fmenu" id="2">
 <li><a style="padding:12px; padding-top:14px; padding-bottom:14px;" href="#">Add New</a>
  <ul>
    <li align="left"><a href="#" onclick="return display_alert();">&nbsp;&nbsp;Add New Event&nbsp;&nbsp;</a></li>
    <li align="left"><a href="#" onclick="return display_alert();">&nbsp;&nbsp;Add New Class&nbsp;&nbsp;</a></li>
    <li align="left"><a href="#" onclick="return display_alert();">&nbsp;&nbsp;Add New Job&nbsp;&nbsp;</a></li>
  </ul>
 </li>
 <li><a style="padding:12px; padding-top:14px; padding-bottom:14px;" href="/users/sign_up">Sign Up / Sign In</a></li>
</ul>
</div>
</div>

</div>
</div>
</div>


<div style="height:76px; background-color:#f5f5f5;">&nbsp;</div>



<div align="center" style="background-color:#f5f5f5;" align="center">
<div style="width:964px; background-color:#fff; padding:0px; -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -khtml-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;" align="center">
<div style="padding:5px;">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td width="100" align="center"><img height="80" src="http://s3.amazonaws.com/garysguide_images/gary_navbar.jpg" /></td>
<td align="left" valign="top">
<table>
<tr><td>
<form onsubmit="this.submit();return false;" name="example2" action="/events/newsletter/subscribe" enctype="multipart/form-data" method="post">
<input type="hidden" name="red_url" value="/events?region=newyork" />
<input type="hidden" name="frequency" value="weekly" />
<input type="hidden" name="region" value="newyork" />
<table cellspacing="2" cellpadding="2">
<tr><td><font class="flogo"><b>NYC Tech!</b></font></td></tr>
<tr><td>Sign up for our awesome NYC Tech weekly newsletter! :)</td></tr>
<tr><td><table>
<tr><td><input type="text" class="finput" name="news_email" size="28" maxlength="60" placeholder="Enter Email Address" value="" /></td><td width="5">&nbsp;</td>
<td><input type="submit" name="subscribe" class="fbutton" value="&nbsp;&nbsp;SUBSCRIBE&nbsp;&nbsp;" /></td></tr>
</table></td>
</tr>
</table>
</form>
</td></tr>
</table>
</td>
<td width="324" valign="middle" align="center">
</td>
<td width="55">&nbsp;</td>
</tr>
</table>
</div>
</div>
</div>
<div style="height:15px;">&nbsp;</div>



<div align="center" style="background-color:#f5f5f5;" align="center">
<div style="width:964px; background-color:#fff; padding:0px; -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -khtml-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;" class="flogobar1" align="center">
<table width="100%" cellspacing="0" cellpadding="0"><tr><td width="300">&nbsp;</td>
<td align="center">
<ul class="fmenu1" id="2">
<li><a class="selected" style="padding:12px; padding-top:14px; padding-bottom:14px;" href="/events">Events</a></li>
<li><a class="none" style="padding:12px; padding-top:14px; padding-bottom:14px;" href="/classes">Classes</a></li>
<li><a class="none" style="padding:12px; padding-top:14px; padding-bottom:14px;" href="/jobs">Jobs</a></li>
<li><a class="none" style="padding:12px; padding-top:14px; padding-bottom:14px;" href="/deals">Deals</a></li>
</ul>
</td><td width="300">&nbsp;</td></tr></table>
</div>
</div>
<div style="height:15px;">&nbsp;</div>



<div align="center" style="background-color:#f5f5f5;">
<div style="width:964px; background-color:#fff; padding:0px; -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.3); -khtml-box-shadow: 0px 0px 7px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.3); -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;" align="left">
<script type="text/javascript">
function display_alert()
{
 alert("You need to be logged in to continue");
}
</script>

<div style="padding:10px; padding-bottom:0px;"><table width="100%">
<tr><td align="center"><table width="100%">
<tr><td width="65%" align="left"><h1><font class="flogo"><b><a href="/events">The Best NYC Tech Events</a></b></font></h1></td>
<td width="35%" align="right">
<form onsubmit="this.submit();return false" action="/events" method="get"><table cellspacing="0" cellpadding="0"><tr><td align="left" valign="middle"><input class="fsearch" style="-webkit-border-top-left-radius: 0px; -moz-border-top-left-radius: 0px; border-top-left-radius: 0px; -webkit-border-bottom-left-radius: 0px; -moz-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px;" id="u" name="q" placeholder="Search Events" value="" size="35" /><a href="#" style="padding:7.5px; padding-left:10px; padding-right:10px; border:1px solid #ccc;-webkit-border-bottom-right-radius: 0px; -moz-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px;-webkit-border-top-right-radius: 0px; -moz-border-top-right-radius: 0px; border-top-right-radius: 0px;"><img src="http://s3.amazonaws.com/garysguide_images/search.gif" alt=""></a>&nbsp;</td></tr></table></form>
</td></tr>
</table></td></tr>
<tr><td><hr style="border:0; color:#aaaaaa; background-color: #aaaaaa; height:1px;" /></td></tr>
</table></div>

<div style="padding:15px;">

<table width="100%">
<tr><td valign="top" align="center"><table width="100%">

<tr><td valign="top" align="center"><table width="100%">
<tr><td valign="top" align="center"><table width="100%">

<tr><td><div class="boxx"><table width="100%">
<tr><td align="left"><a target="_blank" href="http://gary.to/zlqo4la"><img width="600" height="72.5" src="http://s3.amazonaws.com/garysguide/16f6e231374c48409fac9e475aae180aoriginal.jpg"></a></td></tr>
<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td align="left"><a target="_blank" href="http://gary.to/ue9m0zs"><img width="600" height="72.5" src="http://s3.amazonaws.com/garysguide/c6e6d557969344afa27c8ca0a6c1b7e3original.jpg"></a></td></tr>
<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td align="left"><a target="_blank" href="http://gary.to/nebjrth"><img width="600" height="72.5" src="http://s3.amazonaws.com/garysguide/f90d528f858a40ba91c7b81e0aca1330original.png"></a></td></tr>
<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td align="left"><a target="_blank" href="http://gary.to/7tlike1"><img width="600" height="72.5" src="http://s3.amazonaws.com/garysguide/5c412fcafe264643a21d9b57e0eafee2original.jpg"></a></td></tr>
<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td align="left"><a target="_blank" href="http://gary.to/6s6o209"><img width="600" height="72.5" src="http://s3.amazonaws.com/garysguide_images/zerocater_banner_top.jpg"></a></td></tr>
<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td align="left"><a target="_blank" href="http://gary.to/s5sg7vg"><img width="600" height="72.5" src="http://s3.amazonaws.com/garysguide/3fff008940644680ae10e7a37e4bb53doriginal.jpg"></a></td></tr>
<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td align="left"><a target="_blank" href="http://gary.to/gorclb9"><img width="600" height="72.5" src="http://s3.amazonaws.com/garysguide_images/appsec_banner_top1.jpg"></a></td></tr>

</table></div></td></tr>
<tr><td class="ftiny">&nbsp;</td></tr>



<tr><td><div class="boxx1">
<div class="boxx1_top"><font class="flarge"><b>Spotlight</b></font></div>
<div style="padding:10px;">
<table width="100%">
<tr><td valign="top"><font class="fblack"><a target="_blank" href="https://adthink.eventbrite.com/?ref=garysguide"><b>Nov 12: AD THINK III: Emerging Tech in Advertising</a></b></font><br /><font class="fblacksmall"><a target="_blank" href="https://adthink.eventbrite.com/?ref=garysguide">5 Startups + David Berkowitz (CMO, MRY), Bob Greene (Contour Ventures), Malena Higuera (SVP, L'Oreal Paris) & Lee Nadler (MINI USA).</a></font></td><td width="3">&nbsp;</td><td valign="top" align="left"><a target="_blank" href="https://adthink.eventbrite.com/?ref=garysguide"><img width="150" height="45" src="http://s3.amazonaws.com/garysguide/ce6e933b5159419b9937277e209a7921original.jpg" /></a></td><tr>
<tr><td colspan="3"><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td valign="top"><font class="fblack"><a target="_blank" href="http://events.cleantech.com/cleanweb/"><b>Nov 12: Cleanweb and the City </a></b></font><br /><font class="fblacksmall"><a target="_blank" href="http://events.cleantech.com/cleanweb/">Ulrich Quay (BMW i Ventures), John Suh (Hyundai Ventures), David Gilford (NYCEDC), Riggs Kubiak (CEO, Honest Buildings).</a></font></td><td width="3">&nbsp;</td><td valign="top" align="left"><a target="_blank" href="http://events.cleantech.com/cleanweb/"><img width="150" height="45" src="http://s3.amazonaws.com/garysguide/f8847730d9544092b01637ef168495aaoriginal.jpg" /></a></td><tr>
<tr><td colspan="3"><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td valign="top"><font class="fblack"><a target="_blank" href="https://www.squadup.com/events/happy-hour-wednesdays-startup-showcase-e1e326b7-0a34-43ac-8c48-514f6b89ba82"><b>Nov 13: SquadUP Happy Hour Wednesdays - Startup Showcase!</a></b></font><br /><font class="fblacksmall"><a target="_blank" href="https://www.squadup.com/events/happy-hour-wednesdays-startup-showcase-e1e326b7-0a34-43ac-8c48-514f6b89ba82">Demos by Cuurio (connects digital agencies w/ startups) and Pubslush (global, crowdfunding platform for books). </a></font></td><td width="3">&nbsp;</td><td valign="top" align="left"><a target="_blank" href="https://www.squadup.com/events/happy-hour-wednesdays-startup-showcase-e1e326b7-0a34-43ac-8c48-514f6b89ba82"><img width="150" height="45" src="http://s3.amazonaws.com/garysguide/0126f8fcb7fa442aaa3f589e7a8923cdoriginal.png" /></a></td><tr>
<tr><td colspan="3"><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td valign="top"><font class="fblack"><a target="_blank" href="http://amusemi.com/?date=2013-11-14"><b>Nov 14: Amusemi Music Tech Dinner</a></b></font><br /><font class="fblacksmall"><a target="_blank" href="http://amusemi.com/?date=2013-11-14">With Dan Gurney, Jonathan Daily (Concert Window) and Andie Simon (former SVP Warner Music).</a></font></td><td width="3">&nbsp;</td><td valign="top" align="left"><a target="_blank" href="http://amusemi.com/?date=2013-11-14"><img width="150" height="45" src="http://s3.amazonaws.com/garysguide_images/amusemi-startup-brunch.jpg" /></a></td><tr>
<tr><td colspan="3"><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td valign="top"><font class="fblack"><a target="_blank" href="https://www.nytech.org/events/ecommerce-law-update"><b>Nov 19: E-Commerce Law Update: Recent Legal Developments That Could Be Game-Changers</a></b></font><br /><font class="fblacksmall"><a target="_blank" href="https://www.nytech.org/events/ecommerce-law-update">How will recent changes in ecommerce law affect the future of your company?</a></font></td><td width="3">&nbsp;</td><td valign="top" align="left"><a target="_blank" href="https://www.nytech.org/events/ecommerce-law-update"><img width="150" height="45" src="http://s3.amazonaws.com/garysguide/9976e00b396e4c48acc5e471d6d50383original.png" /></a></td><tr>
<tr><td colspan="3"><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td valign="top"><font class="fblack"><a target="_blank" href="http://xconomyforum66-gguide.eventbrite.com?discount=GGuide"><b>Dec 09: Xconomy Forum: The Hardtech Revolution - Makers, Markets & Mobile</a></b></font><br /><font class="fblacksmall"><a target="_blank" href="http://xconomyforum66-gguide.eventbrite.com?discount=GGuide">With Peter Weijmarshausen (Shapeways), Max Haot (Livestream), Matt Burnett (Maker's Row) & others. $75 using code 'GGuide'.</a></font></td><td width="3">&nbsp;</td><td valign="top" align="left"><a target="_blank" href="http://xconomyforum66-gguide.eventbrite.com?discount=GGuide"><img width="150" height="45" src="http://s3.amazonaws.com/garysguide/42456302449a487a9139ab3fc0071c23original.jpg" /></a></td><tr>
</table></div>
</div></td></tr>

<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td><div class="boxx1">
<div class="boxx1_top"><font class="flarge"><b>Class Spotlight</b></font></div>
<div style="padding:10px;">
<table width="100%">
<tr><td valign="top"><font class="fblack"><a target="_blank" href="http://www.markspaneth.com/our-firm-and-services"><b>Get Control of Your F.A.T. (Finance, Accounting, Tax)</a></b></font><br /><font class="fblacksmall"><a target="_blank" href="http://www.markspaneth.com/our-firm-and-services">Marks Paneth & Shron offers a range of accounting, auditing, tax, consulting, restructuring, bankruptcy, advisory services for startups. </a></font></td><td width="3">&nbsp;</td><td valign="top" align="left"><a target="_blank" href="http://www.markspaneth.com/our-firm-and-services"><img width="150" height="45" src="http://s3.amazonaws.com/garysguide_images/markspaneth_logo.jpg" /></a></td><tr>
<tr><td colspan="3"><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td valign="top"><font class="fblack"><a target="_blank" href="https://www.codecoalition.com/"><b>Code Coalition - iOS for beginners</a></b></font><br /><font class="fblacksmall"><a target="_blank" href="https://www.codecoalition.com/">Awesome new immersive 3-month online course for beginners to make iOS apps. Only $100 w/ promo code GARYSGUIDE ($25 off!)</a></font></td><td width="3">&nbsp;</td><td valign="top" align="left"><a target="_blank" href="https://www.codecoalition.com/"><img width="150" height="45" src="http://s3.amazonaws.com/garysguide/c3d4e0e86d0846449b536a56f8885539original.png" /></a></td><tr>
</table></div>
</div></td></tr>

<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td><div class="boxx1">
<div class="boxx1_top"><font class="flarge"><b>Product / Service Spotlight</b></font></div>
<div style="padding:10px;">
<table width="100%">
<tr><td valign="top"><font class="fblack"><a target="_blank" href="http://www.fiestah.com/"><b>Fiestah - Get everything you need for your event!</a></b></font><br /><font class="fblacksmall"><a target="_blank" href="http://www.fiestah.com/">Have local caterers, food trucks, DJs & more bid to serve you – all while managing your event details & budget in one place.</a></font></td><td width="3">&nbsp;</td><td valign="top" align="left"><a target="_blank" href="http://www.fiestah.com/"><img width="150" height="45" src="http://s3.amazonaws.com/garysguide_images/fiestah_logo.png" /></a></td><tr>
<tr><td colspan="3"><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td valign="top"><font class="fblack"><a target="_blank" href="http://www.keyme.net"><b>KeyMe - Fast & easy to manage, copy & share keys</a></b></font><br /><font class="fblacksmall"><a target="_blank" href="http://www.keyme.net">Digitally scan your keys from your phone & never get locked out again! Use code “GarysGuide” for 20% off our cool mail order keys!</a></font></td><td width="3">&nbsp;</td><td valign="top" align="left"><a target="_blank" href="http://www.keyme.net"><img width="150" height="45" src="http://s3.amazonaws.com/garysguide_images/keyme_logo.jpeg" /></a></td><tr>
</table></div>
</div></td></tr>

<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td><div class="boxx1">
<div class="boxx1_top"><table width="100%"><tr><td><font class="flarge"><b>Deal Spotlight</b></font></td><td align="right"><b><a href="http://www.garysguide.com/deals">Click here to browse all deals</a></b></td></tr></table></div>
<div style="padding:10px;">
<table width="100%">
<tr>
<td valign="top"><font class="fblack"><b><a href="/deals">Nov 19:&nbsp;Empire Angels Young Founders Series - Branding Isn't Just for Creatives</a></b></font></td>
<td width="3">&nbsp;</td><td valign="top" width="75" align="center">5 FREE Passes!</td>
<td width="3">&nbsp;</td><td valign="top" width="75" align="center">$10 value each</td>
</tr>
<tr><td colspan="3"><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr>
<td valign="top"><font class="fblack"><b><a href="/deals">Nov 20:&nbsp;Startup Grind NYC w/ Matt Mullenweg</a></b></font></td>
<td width="3">&nbsp;</td><td valign="top" width="75" align="center">3 FREE Passes!</td>
<td width="3">&nbsp;</td><td valign="top" width="75" align="center">$20 value each</td>
</tr>
<tr><td colspan="3"><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr>
<td valign="top"><font class="fblack"><b><a href="/deals">Nov 20:&nbsp;Queens Tech Meetup X</a></b></font></td>
<td width="3">&nbsp;</td><td valign="top" width="75" align="center">5 FREE Passes!</td>
<td width="3">&nbsp;</td><td valign="top" width="75" align="center">$5 value each</td>
</tr>
<tr><td colspan="3"><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr>
<td valign="top"><font class="fblack"><b><a href="/deals">Nov 21:&nbsp;Engage NYC 2013</a></b></font></td>
<td width="3">&nbsp;</td><td valign="top" width="75" align="center">5 FREE Passes!</td>
<td width="3">&nbsp;</td><td valign="top" width="75" align="center">$499 value each</td>
</tr>
<tr><td colspan="3"><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr>
<td valign="top"><font class="fblack"><b><a href="/deals">Dec 09:&nbsp;Xconomy Forum: The Hardtech Revolution</a></b></font></td>
<td width="3">&nbsp;</td><td valign="top" width="75" align="center">2 FREE Passes!</td>
<td width="3">&nbsp;</td><td valign="top" width="75" align="center">$175 value each</td>
</tr>

</table></div>
</div></td></tr>


<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td><div class="boxx"><table width="100%">
<tr><td align="left" valign="top">
<table width="100%" cellspacing="0" cellpadding="0">


<tr><td colspan="7">&nbsp;</td></tr>
<tr><td colspan="7" class="fclass">&nbsp;</td></tr>
<tr><td colspan="7" align="center"><img src="http://s3.amazonaws.com/garysguide_images/divider1.png" /><font class="flarge"><b>&nbsp;&nbsp;&nbsp;Week of Nov 18&nbsp;&nbsp;&nbsp;</b></font><img src="http://s3.amazonaws.com/garysguide_images/divider1.png" /></td></tr>
<tr><td align="left" colspan="7"><font class="flarge"><b>Monday, Nov 18</b></font></td></tr>
<tr><td align="left" colspan="7"><hr style="border:0; color:#aaaaaa; background-color: #aaaaaa; height:1px;" /></td></tr>


<tr>
<td align="center" valign="top" width="48">9:00am</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="37" valign="top">

</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="25" valign="top">
<img title="Sponsored Event" alt="Sponsored Event" width='24' src='http://s3.amazonaws.com/garysguide_images/red_star.jpg' />
</td>

<td align="left" width="1">&nbsp;</td>
<td align="left" valign="top">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td align="left">
<font class="flarge">
<a alt="OWASP Foundation Presents: AppSecUSA 2013" href="http://www.garysguide.com/events/tun6ct3/OWASP-Foundation-Presents-AppSecUSA-2013-New-York-NY"><b>OWASP Foundation Presents: AppSecUSA 2013</b></a>&nbsp;&nbsp;</font>
<font class="freg"><br />Marriott Marquis, 1535 Broadway</font>
<br /><font class="fsmall"><i>A world-class software security conference for technologists, auditors, risk managers & entrepreneurs.</i></font>
</td>
</tr>

</table></td></tr>



<tr><td align="left" colspan="7"><hr style="border:0; color:#e8e8e8; background-color: #e8e8e8; height:1px;" /></td></tr>

<tr>
<td align="center" valign="top" width="48">1:00pm</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="37" valign="top">
Free
</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="25" valign="top">
<img title="Sponsored Event" alt="Sponsored Event" width='24' src='http://s3.amazonaws.com/garysguide_images/red_star.jpg' />
</td>

<td align="left" width="1">&nbsp;</td>
<td align="left" valign="top">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td align="left">
<font class="flarge">
<a alt="Startup Lunch" href="http://www.garysguide.com/events/o8z3ci6/Startup-Lunch-New-York-NY"><b>Startup Lunch</b></a>&nbsp;&nbsp;</font>
<font class="freg"><br />Cupping Room Cafe, 359 W Broadway</font>
<br /><font class="fsmall"><i>Catch up with entrepreneurs, designers and techies from the SoHo area.</i></font>
</td>
</tr>

</table></td></tr>


<tr><td align="left" colspan="7" class="fsmall">&nbsp;</td></tr>
<tr><td align="left" colspan="7"><font class="flarge"><b>Tuesday, Nov 19</b></font></td></tr>
<tr><td align="left" colspan="7"><hr style="border:0; color:#aaaaaa; background-color: #aaaaaa; height:1px;" /></td></tr>


<tr>
<td align="center" valign="top" width="48">6:00pm</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="37" valign="top">
$20
</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="25" valign="top">
<img title="Sponsored Event" alt="Sponsored Event" width='24' src='http://s3.amazonaws.com/garysguide_images/red_star.jpg' />
</td>

<td align="left" width="1">&nbsp;</td>
<td align="left" valign="top">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td align="left">
<font class="flarge">
<a alt="[NYTECH] E-Commerce Law Update: Recent Legal Developments That Could Be Game-Changers" href="http://www.garysguide.com/events/92tu9my/-NYTECH-E-Commerce-Law-Update-Recent-Legal-Developments-That-Could-Be-Game-Changers-New-York-NY"><b>[NYTECH] E-Commerce Law Update: Recent Legal Developments That Could Be Game-Changers</b></a>&nbsp;&nbsp;</font>
<font class="freg"><br />To be decided</font>
<br /><font class="fsmall"><i>How will recent changes in ecommerce law affect the future of your company?</i></font>
</td>
</tr>

</table></td></tr>



<tr><td align="left" colspan="7"><hr style="border:0; color:#e8e8e8; background-color: #e8e8e8; height:1px;" /></td></tr>

<tr>
<td align="center" valign="top" width="48">6:30pm</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="37" valign="top">
$200
</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="25" valign="top">
<img title="Sponsored Event" alt="Sponsored Event" width='24' src='http://s3.amazonaws.com/garysguide_images/red_star.jpg' />
</td>

<td align="left" width="1">&nbsp;</td>
<td align="left" valign="top">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td align="left">
<font class="flarge">
<a alt="Post Production After Effects" href="http://www.garysguide.com/events/p0lz36x/Post-Production-After-Effects-New-York-NY"><b>Post Production After Effects</b></a>&nbsp;&nbsp;</font>
<font class="freg"><br />TurnToTech, 184 5th Ave, 4th Fl</font>

</td>
</tr>

</table></td></tr>


<tr><td align="left" colspan="7" class="fsmall">&nbsp;</td></tr>
<tr><td align="left" colspan="7"><font class="flarge"><b>Wednesday, Nov 20</b></font></td></tr>
<tr><td align="left" colspan="7"><hr style="border:0; color:#aaaaaa; background-color: #aaaaaa; height:1px;" /></td></tr>


<tr>
<td align="center" valign="top" width="48">6:00pm</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="37" valign="top">
$20
</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="25" valign="top">
<img title="Sponsored Event" alt="Sponsored Event" width='24' src='http://s3.amazonaws.com/garysguide_images/red_star.jpg' />
</td>

<td align="left" width="1">&nbsp;</td>
<td align="left" valign="top">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td align="left">
<font class="flarge">
<a alt="[NYTECH] Sound Design in UX" href="http://www.garysguide.com/events/py473op/-NYTECH-Sound-Design-in-UX-New-York-NY"><b>[NYTECH] Sound Design in UX</b></a>&nbsp;&nbsp;</font>
<font class="freg"><br />XO Group HQ, 195 Broadway</font>
<br /><font class="fsmall"><i>Why does it matter and how does it determine success?</i></font>
</td>
</tr>

</table></td></tr>


<tr><td align="left" colspan="7" class="fsmall">&nbsp;</td></tr>
<tr><td align="left" colspan="7"><font class="flarge"><b>Thursday, Nov 21</b></font></td></tr>
<tr><td align="left" colspan="7"><hr style="border:0; color:#aaaaaa; background-color: #aaaaaa; height:1px;" /></td></tr>


<tr>
<td align="center" valign="top" width="48">6:00pm</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="37" valign="top">
Free
</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="25" valign="top">
<img title="Sponsored Event" alt="Sponsored Event" width='24' src='http://s3.amazonaws.com/garysguide_images/red_star.jpg' />
</td>

<td align="left" width="1">&nbsp;</td>
<td align="left" valign="top">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td align="left">
<font class="flarge">
<a alt="DIY Build an iOS App in 3 hours" href="http://www.garysguide.com/events/ybmhwex/DIY-Build-an-iOS-App-in-3-hours-New-York-NY"><b>DIY Build an iOS App in 3 hours</b></a>&nbsp;&nbsp;</font>
<font class="freg"><br />TurnToTech, 184 5th Ave, 4th Fl</font>
<br /><font class="fsmall"><i>Get your feet wet in native iOS app development. This is a FREE beginner workshop!</i></font>
</td>
</tr>

</table></td></tr>



<tr><td align="left" colspan="7"><hr style="border:0; color:#e8e8e8; background-color: #e8e8e8; height:1px;" /></td></tr>

<tr>
<td align="center" valign="top" width="48">6:00pm</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="37" valign="top">
$20
</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="25" valign="top">
<img title="Sponsored Event" alt="Sponsored Event" width='24' src='http://s3.amazonaws.com/garysguide_images/red_star.jpg' />
</td>

<td align="left" width="1">&nbsp;</td>
<td align="left" valign="top">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td align="left">
<font class="flarge">
<a alt="[NYTECH] Dont Give Away The Store: Valuation for Early-Round Financing" href="http://www.garysguide.com/events/l0o45ot/-NYTECH-Dont-Give-Away-The-Store-Valuation-for-Early-Round-Financing-New-York-NY"><b>[NYTECH] Dont Give Away The Store: Valuation for Early-Round Financing</b></a>&nbsp;&nbsp;</font>
<font class="freg"><br />To be decided</font>
<br /><font class="fsmall"><i>Valuation and legal issues in development stage company financing.</i></font>
</td>
</tr>

</table></td></tr>


<tr><td colspan="7">&nbsp;</td></tr>
<tr><td colspan="7" class="fclass">&nbsp;</td></tr>
<tr><td colspan="7" align="center"><img src="http://s3.amazonaws.com/garysguide_images/divider1.png" /><font class="flarge"><b>&nbsp;&nbsp;&nbsp;Week of Nov 25&nbsp;&nbsp;&nbsp;</b></font><img src="http://s3.amazonaws.com/garysguide_images/divider1.png" /></td></tr>
<tr><td align="left" colspan="7" class="fsmall">&nbsp;</td></tr>
<tr><td align="left" colspan="7"><font class="flarge"><b>Monday, Nov 25</b></font></td></tr>
<tr><td align="left" colspan="7"><hr style="border:0; color:#aaaaaa; background-color: #aaaaaa; height:1px;" /></td></tr>


<tr>
<td align="center" valign="top" width="48">7:00pm</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="37" valign="top">
$6000
</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="25" valign="top">
<img title="Sponsored Event" alt="Sponsored Event" width='24' src='http://s3.amazonaws.com/garysguide_images/red_star.jpg' />
</td>

<td align="left" width="1">&nbsp;</td>
<td align="left" valign="top">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td align="left">
<font class="flarge">
<a alt="Mobile Development on iOS  Amazon Cloud" href="http://www.garysguide.com/events/2xbnrl7/Mobile-Development-on-iOS-Amazon-Cloud-New-York-NY"><b>Mobile Development on iOS  Amazon Cloud</b></a>&nbsp;&nbsp;</font>
<font class="freg"><br />TurnToTech, 184 5th Ave, 4th Fl</font>
<br /><font class="fsmall"><i>6 week mobile development training using iOS with Java backend on Amazon cloud. </i></font>
</td>
</tr>

</table></td></tr>


<tr><td align="left" colspan="7" class="fsmall">&nbsp;</td></tr>
<tr><td align="left" colspan="7"><font class="flarge"><b>Friday, Dec 06</b></font></td></tr>
<tr><td align="left" colspan="7"><hr style="border:0; color:#aaaaaa; background-color: #aaaaaa; height:1px;" /></td></tr>


<tr>
<td align="center" valign="top" width="48">7:00pm</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="37" valign="top">
Free
</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="25" valign="top">
<img title="Sponsored Event" alt="Sponsored Event" width='24' src='http://s3.amazonaws.com/garysguide_images/red_star.jpg' />
</td>

<td align="left" width="1">&nbsp;</td>
<td align="left" valign="top">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td align="left">
<font class="flarge">
<a alt="48 Hour Flatiron Hackathon" href="http://www.garysguide.com/events/y7nzmiu/48-Hour-Flatiron-Hackathon-New-York-NY"><b>48 Hour Flatiron Hackathon</b></a>&nbsp;&nbsp;</font>
<font class="freg"><br />TurnToTech, 184 5th Ave, 4th Fl</font>

</td>
</tr>

</table></td></tr>


<tr><td colspan="7">&nbsp;</td></tr>
<tr><td colspan="7" class="fclass">&nbsp;</td></tr>
<tr><td colspan="7" align="center"><img src="http://s3.amazonaws.com/garysguide_images/divider1.png" /><font class="flarge"><b>&nbsp;&nbsp;&nbsp;Week of Dec 09&nbsp;&nbsp;&nbsp;</b></font><img src="http://s3.amazonaws.com/garysguide_images/divider1.png" /></td></tr>
<tr><td align="left" colspan="7" class="fsmall">&nbsp;</td></tr>
<tr><td align="left" colspan="7"><font class="flarge"><b>Monday, Dec 09</b></font></td></tr>
<tr><td align="left" colspan="7"><hr style="border:0; color:#aaaaaa; background-color: #aaaaaa; height:1px;" /></td></tr>


<tr>
<td align="center" valign="top" width="48">2:00pm</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="37" valign="top">
$75
</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="25" valign="top">
<img title="Sponsored Event" alt="Sponsored Event" width='24' src='http://s3.amazonaws.com/garysguide_images/red_star.jpg' />
</td>

<td align="left" width="1">&nbsp;</td>
<td align="left" valign="top">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td align="left">
<font class="flarge">
<a alt="Xconomy Forum: The Hardtech Revolution - Makers, Markets &amp; Mobile" href="http://www.garysguide.com/events/cuq8wif/Xconomy-Forum-The-Hardtech-Revolution-Makers-Markets-Mobile-New-York-NY"><b>Xconomy Forum: The Hardtech Revolution - Makers, Markets & Mobile</b></a>&nbsp;&nbsp;</font>
<font class="freg"><br />AppNexus, 28 W 23rd St</font>
<br /><font class="fsmall"><i>With Peter Weijmarshausen (CEO, Shapeways), Max Haot (CEO, Livestream), Rodney Brooks (Founder, Rethink Robotics), Matt Burnett (CEO, Maker's Row) & others.</i></font>
</td>
</tr>

</table></td></tr>


<tr><td align="left" colspan="7" class="fsmall">&nbsp;</td></tr>
<tr><td align="left" colspan="7"><font class="flarge"><b>Wednesday, Dec 11</b></font></td></tr>
<tr><td align="left" colspan="7"><hr style="border:0; color:#aaaaaa; background-color: #aaaaaa; height:1px;" /></td></tr>


<tr>
<td align="center" valign="top" width="48">7:00pm</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="37" valign="top">
$60
</td>
<td align="left" width="1">&nbsp;</td>
<td align="center" width="25" valign="top">
<img title="Sponsored Event" alt="Sponsored Event" width='24' src='http://s3.amazonaws.com/garysguide_images/red_star.jpg' />
</td>

<td align="left" width="1">&nbsp;</td>
<td align="left" valign="top">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td align="left">
<font class="flarge">
<a alt="[NYTECH] Holiday Tech Bash 2013" href="http://www.garysguide.com/events/62nx4a0/-NYTECH-Holiday-Tech-Bash-2013-New-York-NY"><b>[NYTECH] Holiday Tech Bash 2013</b></a>&nbsp;&nbsp;</font>
<font class="freg"><br />Steelcase, 4 Columbus Circle</font>
<br /><font class="fsmall"><i>Eat, drink and network with the NYC tech community!</i></font>
</td>
</tr>

</table></td></tr>

</table></td></tr>

<tr><td align="left">&nbsp;</td></tr>
</table></div></td></tr>

<tr><td align="left">&nbsp;</td></tr>
<tr><td align="left">&nbsp;</td></tr>
</table></td></tr>
</table>
</td>


<td width="30">&nbsp;</td>

<td valign="top" width="240" align="center">
<table width="100%">

<tr><td><div class="boxx1">
<div class="boxx1_top"><font class="flarge"><b>Weekly Email Newsletter</b></font></div>
<div style="padding:10px;">
<table width="100%">
<tr><td>
<form onsubmit="this.submit();return false;" name="example2" action="/events/newsletter/subscribe" enctype="multipart/form-data" method="post">
<input type="hidden" name="red_url" value="/events?region=newyork" />
<input type="hidden" name="frequency" value="weekly" />
<input type="hidden" name="region" value="newyork" />
<table cellspacing="2" cellpadding="2">
<tr><td>Sign up for our awesome weekly New York Tech Events newsletter!
</td></tr>
<tr><td><input type="text" class="finput" name="news_email" size="28" maxlength="60" placeholder="Enter Email Address" value="" /></td></tr>
<tr><td><input type="submit" name="subscribe" class="fbutton" value="Subscribe" /></td></tr>
</table>
</form>
</td></tr>
</table></div>
</div></td></tr>

<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td><div class="boxx"><table width="100%">
<tr><td><a target="_blank" href="http://gary.to/zlqo4la"><img width="240" src="http://s3.amazonaws.com/garysguide/b3798fac5b044552bbc9272d72ac9140original.jpg"></a></td></tr>
<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td><a target="_blank" href="http://gary.to/ue9m0zs"><img width="240" src="http://s3.amazonaws.com/garysguide/f8b5597dbf9342978baf73c7692aa3adoriginal.jpg"></a></td></tr>
<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td><a target="_blank" href="http://gary.to/nebjrth"><img width="240" src="http://s3.amazonaws.com/garysguide/3ccf8562b5384a20b97cd14df8299f20original.png"></a></td></tr>
<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td><a target="_blank" href="http://gary.to/7tlike1"><img width="240" src="http://s3.amazonaws.com/garysguide/772977e05afe47d5892598e8c4d948edoriginal.png"></a></td></tr>
<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td><a target="_blank" href="http://gary.to/6s6o209"><img width="240" src="http://s3.amazonaws.com/garysguide_images/zerocater_banner_square.jpg"></a></td></tr>
<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td><a target="_blank" href="http://gary.to/s5sg7vg"><img width="240" src="http://s3.amazonaws.com/garysguide/02bc213e5d534c4d8f558fdc7aaa6906original.jpg"></a></td></tr>
<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td><a target="_blank" href="http://gary.to/gorclb9"><img width="240" src="http://s3.amazonaws.com/garysguide_images/appsec_banner_square.jpg"></a></td></tr>

</table></div></td></tr>


<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td><tr><td><div class="boxx1">
<div class="boxx1_top"><font class="flarge"><b>New Job Listings</b></font></div>
<div style="padding:10px;">
<table width="100%">
<tr><td><font class="fblack"><a href="/jobs/r35cc9o/Sponsorship-Sales-Manager-Programs-and-Events-at-Mashable-New-York-NY?region=newyork">Sponsorship Sales Manager, Programs and Events</a></font><br />
<font class="fgray">Mashable</font></td></tr>
<tr><td><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td><font class="fblack"><a href="/jobs/se3b8tf/Sales-Manager-at-Bitly-New-York-NY?region=newyork">Sales Manager</a></font><br />
<font class="fgray">Bitly</font></td></tr>
<tr><td><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td><font class="fblack"><a href="/jobs/1halfqk/Office-Manager-at-Bitly-New-York-NY?region=newyork">Office Manager</a></font><br />
<font class="fgray">Bitly</font></td></tr>
<tr><td><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td><font class="fblack"><a href="/jobs/bvlyo5h/Assistant-to-the-TED-Partnership-Development-Team-at-TED-New-York-NY?region=newyork">Assistant to the TED Partnership Development Team</a></font><br />
<font class="fgray">TED</font></td></tr>
<tr><td><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td><font class="fblack"><a href="/jobs/pyx9s0g/Senior-Software-Engineer-at-Squarespace-New-York-NY?region=newyork">Senior Software Engineer</a></font><br />
<font class="fgray">Squarespace</font></td></tr>
<tr><td><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td><font class="fblack"><a href="/jobs/lo47k2y/Ad-Operations-Associate-at-UrbanDaddy-New-York-NY?region=newyork">Ad Operations Associate</a></font><br />
<font class="fgray">UrbanDaddy</font></td></tr>
<tr><td><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td><font class="fblack"><a href="/jobs/rho6vr8/SMB-Sales-Manager-East-Sales-Solutions-New-York-at-LinkedIn-New-York-NY?region=newyork">SMB Sales Manager East, Sales Solutions, New York</a></font><br />
<font class="fgray">LinkedIn</font></td></tr>
<tr><td><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td><font class="fblack"><a href="/jobs/cbmugq6/Statistical-Analyst-at-TiVo-New-York-NY?region=newyork">Statistical Analyst</a></font><br />
<font class="fgray">TiVo</font></td></tr>
<tr><td><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td><font class="fblack"><a href="/jobs/vfryry4/Product-Manager-Monetization-at-SoundCloud-New-York-NY?region=newyork">Product Manager Monetization</a></font><br />
<font class="fgray">SoundCloud</font></td></tr>
<tr><td><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td><font class="fblack"><a href="/jobs/e8vfzqc/Engineer-NYC-at-SoundCloud-New-York-NY?region=newyork">Engineer, NYC</a></font><br />
<font class="fgray">SoundCloud</font></td></tr>
<tr><td><hr style="border:0; color:#eeeeee; background-color: #eeeeee; height:1px;" /></td></tr>
<tr><td><font class="fblack"><b><a href="/jobs?region=newyork">Browse All Recent Jobs</a></b></font></td></tr>
</table>
</div>
</div></td></tr>

</td></tr>


<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td><div class="boxx"><table width="100%">
<tr><td><a href="/redtie"><img width="240" src="http://s3.amazonaws.com/garysguide_images/sponsor_garys_red_tie_square.jpg" /></a></td></tr>
</table></div></td></tr>

<tr><td class="ftiny">&nbsp;</td></tr>
<tr><td align="left" valign="middle">
<div class="boxx">
<div id="map_canvas1" align="left" style="width: 240px; height: 240px; overflow: hidden;"></div>
</div></td></tr>

<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
</table></td></tr>


</table></td></tr>
</table></td></tr>

</table>
</div>

</div>
<div>&nbsp;</div>
</div>

<div style="height:80px; background-color:#f5f5f5;">&nbsp;</div>

<div style="background-color:#f5f5f5; height:30px;" align="center"><font style="font-family:'Helvetica Neue','Helvetica','Arial',sans-serif; color:#949494;">- FEATURED IN -</font></div>
<div style="background-color:#f5f5f5;" align="center"><div><a href="/press"><img src="http://s3.amazonaws.com/garysguide_images/press2.png" /></a></div></div>

<div style="height:50px; background-color:#f5f5f5;">&nbsp;</div>

<div align="center" style="background-color:#f5f5f5;">
<font class="freg">&copy; 2013&nbsp;GarysGuide&nbsp;&nbsp;&nbsp;<a href="/about">About</a>&nbsp;&nbsp;&nbsp;<a href="/terms">Terms</a>
&nbsp;&nbsp;&nbsp;<a href="/press">Press</a>&nbsp;&nbsp;&nbsp;<a href="/feedback">Feedback</a></font>
</div>
<div style="height:60px; background-color:#f5f5f5;">&nbsp;</div>

</div>


<div id="dialog_login" title="" style="display:none;">
<div>
<table width="100%">
<tr><td>&nbsp;</td></tr>
<tr><td align="center"><table width="100%">
<tr><td>&nbsp;</td></tr>
<tr><td align="center"><a href="/auth/linkedin"><img style="border:0px;" src="http://s3.amazonaws.com/garysguide_images/sign_in_with_linkedin.png" /></a></td></tr>
<tr><td>&nbsp;</td></tr>
</table></td></tr>
<tr><td>&nbsp;</td></tr>
</table>
</div>
</div>

</body>

</html>
