<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
var map;
var geocoder;
var markers = [];

function initialize() {
  geocoder = new google.maps.Geocoder();
  var mapOptions = {
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
  var defaultBounds = new google.maps.LatLngBounds(
    new google.maps.LatLng(40.713, -74.004),
    new google.maps.LatLng(40.757, -73.984));
  map.fitBounds(defaultBounds);

  for (var i = 0; i < gon.locs.length; i++) {
    codeAddress(gon.locs[i], i);
  }
}

function codeAddress(address, i) {
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      google.maps.event.addListener(marker, 'mouseover', function() {
        infoWindow(i).open(map, marker);
      });
    }
    else {
      if (status === "OVER_QUERY_LIMIT") {
        time.sleep(2);
      }
    }
  });
}

function infoWindow(i) {
  var contentString = '<div id="content">'+
      gon.info[i]+
      '</div>';
  return new google.maps.InfoWindow({
      content: contentString
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
